@import "tailwindcss";

@theme {
  --color-primary: #defbdc;
  --color-secondary: #95c18c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
